/* место для вашего кода */

/*повторяюшиеся классы start*/

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

/*повторяюшиеся классы end*/

/*header start*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  height: 293px;
}

.header__menu {
  display: flex;
  align-items: center;
  min-width: 391.48px;
}

.header__links-list {
  padding-bottom: 7px;
  display: flex;
  list-style: circle;
  font-size: 18px;
  text-underline-offset: 4px;
  gap: 32px;
  list-style-position: outside;
}

.header__links-list-item_about {
  margin-left: 2.5px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  width: 149px;
}

.header__logo-image {
  padding-left: 6px;
  padding-right: 6px;
}

.header__address {
  padding-top: 1px;
  padding-left: 1px;
  padding-bottom: 5px;
  text-underline-offset: 4px;
  max-width: 240px;
}

/*header end*/

/*cover start*/
.cover {
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  position: relative;
}

.cover__title {
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-top: 165px;
  margin-left: 50px;
  margin-right: 50px;
  height: 385px;
}

.aligned_text {
  display: block;
  color: #ffffff;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-top: 17px;
  padding-left: 30px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 18px;
  padding-left: 614px;
}

.cover__description {
  padding-top: 106px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.cover__description-text {
  align-self: start;
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 12px;
  word-spacing: 20px;
  white-space: nowrap;
}

.letter-spacing-extended {
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  margin-left: 108px;
  font-style: medium;
  font-weight: 500;
  font-size: 22px;
}

/*cover end*/

/*lots start*/
.lots {
  height: 723px;
  /* top: 1230px; */
  left: 24px;
  margin-top: 180px;
  padding-left: 23px;
  padding-right: 23px;
}

.lots__heading {
  height: 74px;
}

.lots__heading-title {
  padding-left: 40px;
  font-size: 40px;
  font-weight: 700;
  font-style: Bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  min-height: 596px;
}

.lots__card-list-item {
  list-style: none;
  min-height: 100%;
  min-width: 334px;
}

.card-link {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 40px 48px 40px;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  font-style: Bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-style: normal;
  color: #ffffff;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  text-decoration: underline;
  padding-left: 40px;
  padding-top: 30px;
  text-underline-offset: 5px;
}

/*lots end*/

/*about start*/
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 249px 1fr;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 120px;
  min-height: 595px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  grid-row: 1 / 1;
  grid-column: 1 / 1;

  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 141.54px;
  /* height: 112.55px; */
}

.about__title {
  grid-column: 2/-1;
  grid-row: 1/2;
  font-style: Bold;
  text-transform: uppercase;
  font-size: 40px;
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.about__column {
  grid-column: 2/-1;
  grid-row: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 2px;
}

.about__text {
  padding-left: 25px;
  padding-right: 1px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

/*about end*/

/*footer start*/
.footer {
  padding-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 50px;
  padding-right: 50px;
}

.footer__address {
  text-underline-offset: 4px;
}

.footer__address-text {
  padding-left: 1px;
}

.footer__address-text-span {
  position: relative;
  margin-left: -4.5px;
}

.footer__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  align-items: center;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 93px;
}

.footer__social-icon {
  height: 48px;
}

/*footer end*/
